.Header {
  background-color: #ff4d3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 100%;
}

/*아이콘 선택(경로 선택)*/
.route-choice {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
  gap: 60px;
}
.plogging-choice,
.short-choice,
.target-choice {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 1px 25px 1px 25px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.plogging-choice:hover,
.short-choice:hover,
.target-choice:hover,
.plogging-choice.active,
.short-choice.active,
.target-choice.active {
  background-color: white;
  border: 2px solid white;
  border-radius: 25px;
  color: #ff4d3f;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.route-explain {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ff8b82;
  height: 40px;
  width: 80%;
  border-radius: 6px;

  display: flex;
  align-items: center;
  color: white;
}
.route-explain p {
  margin: 0;
  padding: 10px;
}
