.Home {
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.recomend-route {
  font-size: 25px;

  font-weight: 500;
}
.road-list-container {
  padding-top: 30px;
  background-color: #f8f8f8;
  padding: 20px;
}

.map-container {
  position: relative;
}

.search-bar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  height: 50px;
  margin-top: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
}
/*input 클릭시 border*/
.map-container input {
  border: 2px solid #ffd7d4;
}
.map-container input:focus {
  border: 2px solid #ff4d3f;
  outline: none;
}
.road-list {
  position: absolute;
  transform: translatey(500%);
  z-index: 1000;
  width: 100%;
  background-color: #f8f8f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
