.Landing {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.LandingImg {
  width: 300px;
  height: 300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 50px;
}

.landing-text {
  margin-top: 50px;
}
.landing-explain {
  color: #868686;
}
/*버튼 zone*/
.landing-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.landing-button-container > p {
  color: #5d5d5d;
  margin-bottom: 40px;
}
.new-road {
  color: #ff4d3f;
  text-decoration: underline;
}

.Landing-btn:hover {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  transform: translateX(18px);
}
