.Nav {
  display: flex;
  background-color: white;
  box-shadow: 0px -10px 20px rgba(164, 164, 164, 0.3);
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home,
.giftshop,
.route,
.plogging,
.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  color: #090909;
}
.nav-icon {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #5c5c5c;
}
/*hover 시 색상 변경*/
.home:hover,
.giftshop:hover,
.route:hover,
.plogging:hover,
.mypage:hover {
  color: #ff4d3f;
  cursor: pointer;
}

.home:hover .nav-icon,
.giftshop:hover .nav-icon,
.route:hover .nav-icon,
.plogging:hover .nav-icon,
.mypage:hover .nav-icon {
  color: #ff4d3f;
  cursor: pointer;
}

.Nav div.active {
  color: #ff4d3f; /* 활성화된 경로의 색상 */
}

.Nav div.active .nav-icon {
  color: #ff4d3f; /* 활성화된 경로의 아이콘 색상 */
}
