.route-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f8f8f8;
}

.route-info {
  width: 100%;
  background: #f8f8f8;
  overflow: hidden;
  transition: height 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: 2; /* 기본 z-index */
  position: absolute;
  bottom: 60px;
  padding-top: 10px;
  height: 120px; /* 기본 높이 */
  display: flex;
  flex-direction: column;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  /*스크롤 ~*/
  overflow-y: auto;
}

.route-info.expanded {
  height: 50vh; /* 확장된 높이 */
  z-index: 3; /* 확장 시 z-index 높이기 */
}

.expand-button {
  width: 100%;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.route-info > div {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 16px;
  padding: 20px;
  margin: 10px 20px 10px 20px;
}

.route-time,
.route-calories,
.route-co2,
.route-points {
  display: flex;
}

.nav-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 80;
}

.route-plogging {
  border: 1px solid #ff4d3f;
}
.route-plogging:hover {
  border: 1px solid #ff4d3f;
  background-color: #ffedec;
}
